.video_container {
  width: 95%;
  margin: 1rem auto;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.video {
  flex: 1 1 250px;
  cursor: pointer;
  margin: 0.5rem;
  max-width: 260px;
}
.video h6 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.video img {
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.video img:hover {
  transform: scale(0.95) rotateZ(-2deg);
}
